*{
  margin:0px;
  padding:0px;
  font-family: 'Dosis', sans-serif;
}


.container{
  width:75%;
  height: 100%;
  margin-left:150px;
  margin-top:50px;
  transition: 0.3s;
  background-color: white;
}
#img1{
  width:4%;
}

#img2{
  width:8%;
}

#navbar{
  list-style-type: none;
  text-align: center;
  height:5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
}
#navbar li{
  display: inline-block;
  font-size: 15px;
  padding:10px;
  position:relative;
  left:300px;
  bottom:50px;
  
}

#div1{
  width:100%;
  height:200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

span{
  font-size: 30px;
  position:absolute;
  padding: 9px;
  font-weight: bold;
}
 #ul3 li{
  position: relative;
 bottom:50px;
 left:100px;
 list-style: none;
 line-height: 1.5em;
 font-weight: lighter;
 }

 #ul2{
  position: absolute;
  right: 250px;
  top:110px;
  list-style-type: none;
  line-height: 2.5em;
            float: left;
}

#ul2 .btn{
  width:300px;
  height: 30px;
background-color: rgb(173, 231, 173);
border-style: none;
font-weight:1px;
border-style: none;
}
#ul2 .btn2{
  width:150px;
  height:30px;
  background-color: rgb(242, 179, 63);
  color: white;
  border-radius: 2rem;
  border-style: none;
}

#archi{
  width:100px;
  height: 30px;
  background-color: black;
  color:white;
  border-radius: 2rem;
}

#free{
  width:100px;
  height: 30px;
  background-color:rgb(173, 231, 173);
  color:white;
  border-radius: 2rem;
  border-style:none;
}

#long{
  width:100px;
  height: 30px;
  background-color:rgb(100, 100, 152);
  color:white;
  border-radius: 2rem;
  border-style:none;
}

.buttons{
margin:10px;
}
#flex-container{
  display: flex;
  gap:30px;
  margin-top:30px;
}

#card1{
 
  height:150px;
  width:300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 }
 
 #card2{
   height:150px;
   width:300px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 }

 #card2 h3{
  font-weight: lighter;
  margin-left: 25px;
  margin-top:10px;
 }
  #card3{
   height:150px;
   width:300px;
 
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  }
 
  #card3 h3{
    font-weight: lighter;
    margin-left: 25px;
    margin-top:10px;
  }
  #card4{
   height:150px;
   width:300px;
 
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  }
 #card4 h3{
  font-weight: lighter;
  margin-left: 25px;
  margin-top:10px;
 }
  #card5{
    height:150px;
    width:230px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   position:absolute;
   right: 190px;
   top:83%;
   margin-left:110px
  }
  .About{
    width:74%;
    margin-top:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
  }

  .btn-group{
    width:100px;
    height: 30px;
    background-color:black;
    color:white;
    border-radius: 2rem;
    border-style:none;
    margin:5px;
  }

  #btn-3{
    width:100px;
    height: 30px;
    background-color:rgb(224, 198, 248);
    color:white;
    border-radius: 2rem;
    border-style:none;
    margin-top:20px;
    margin-left:20px;
    font-weight: bolder;
  }

  .orange{
    width:150px;
    height:30px;
    background-color: rgb(242, 179, 63);
    color: white;
    border-radius: 2rem;
    border-style: none;
  }

  .black1{
    width:120px;
    height: 30px;
    background-color:black;
    color:white;
    border-radius: 2rem;
    border-style:none;
  }
 
  #respo{
    padding:20px;
  }

  #skills{
    padding:20px;
  }

  #quali{
    padding:20px;
  }

  #bonus{
    padding:20px;
  }

  #rate{
    padding:20px;
  }

  #time{
    padding:20px;
  }

  #tbd{
    padding:20px;
  }

  #message{
    width:120px;
    height: 30px;
    background-color:black;
    color:white;
    border-radius: 2rem;
    border-style:none;
    margin-top:20px;
    margin-left:20px;
    font-weight: bolder;
  }

  #ul2 #li-item{
    font-size: 30px;
  font-weight: bold;
  margin:10px;
  }